<?php
/** @var \Mageplaza\HelloWorld\Block\Mageplaza\GetList $block */

$list = $block->getEmployeeList();
?>

<?php foreach ($list as $item): ?>
    <div id="<?= $block->escapeHtmlAttr($item->getId()) ?>">
        <p><?= $block->escapeHtml(__('Name: ') . $item->getName()) ?></p>
        <p><?= $block->escapeHtml(__('AName: ') . $item->getaname()) ?></p>
        <p><?= $block->escapeHtml(__('Description: ') . $item->getdescription()) ?></p>
        <br/>
    </div>
<?php endforeach; ?>
