<form action="<?php echo $this->GetBaseUrl().'helloworld/index/save'; ?>" method="post">
    <input name="name" type="text" placeholder="enter the name"><br><br>
    <input name="aname " type="text" placeholder="assigned name"><br><br>
    <input type="time" id="appt" name="hour"><br><br>
    <input name="description" type="text" placeholder="enter the description"><br><br>
    <input type="file" id="myFile" name="featured_image"><br><br>
    <input type="submit" value="Send">
</form>

