<?php
/**
 * @var \Mageplaza\HelloWorld\Block\Display $block
 *
 */
//Get product object by ID
$enable = $block->getformValue();
$x=$height = $block->getheight();
$y=$width = $block->getwidth();

echo $block-> sayHello();echo "<br>";
echo $block->sayHello1();echo "<br>";
echo $block->sayHello2();echo "<br>";
echo $block->sayHello3();echo "<br>";
echo $block->sayHello4();echo "<br>";
echo $block->sayHello5();echo "<br>";
echo $block->getConfigValue('sectionId/groupId/fieldId');echo "<br>";


?>
<?php
if ($enable)
{


?>
<form action="<?php echo $this->GetBaseUrl().'helloworld/index/save'; ?>" method="post">
    <input name="name" type="text" placeholder="enter the name"><br><br>
    <input name="aname " type="text" placeholder="assigned name"><br><br>
    <input type="time" id="appt" name="hour"><br><br>
    <input name="description" type="text" placeholder="enter the description"><br><br>
    <input type="file" id="myFile" name="featured_image"><br><br>
    <input type="submit" value="Send">
</form>
<?php } ?>
<style>
    table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}
    td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
    tr:nth-child(even) { background-color: #dddddd; }
    .post-id{width:2%} .post-name{width:30%}
    #foo{
        width: 500px;
        height: 200px;
    }
</style>

<table>
    <tr>
        <th class="post-id">Id</th>
        <th class="post-name">Name</th>
    </tr>
    <?php
    foreach ($block->getPostCollection() as $key=>$post){
        echo '<tr>
                    <td>'.$post->getid().'</td>
                    <td>'.$post->getname().'</td>
                    <td>'.$post->getdescription().'</td>
                    <td>'.$post->gethour().'</td>
                    <td>'.$post->getaname().'</td>
                    <td>'.$post->getstatus().'</td>

                   <td><img src="'.$this->getUrl('media/folder').$post->getFeaturedImage().'"height="'.$x.'" width="'.$y.'">
                   </td>
                  </tr>';
        // call block function and get value of system config field as below.


    }
    ?>

</table>
